{% extends 'hod_template/base_template.html' %} {% block page_title %} Manage
Event {% endblock page_title %} {% load static %} {% block main_content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Event Details</h3>

            <div class="card-tools">
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap" style="border-collapse: collapse;">
              <thead>
                <tr>
                  <th>S.N</th>
                  <th>Event Name</th>
                  <th>Event Description</th>
                  <th>Event Date</th>
                  <th>Amount for Event</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for event in event %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{event.event_name}}</td>
                  <td>{{event.event_description}}</td>
                  <td>{{event.event_date}}</td>
                  <td>{{event.amount}}</td>
                  <td>
                    <a
                      href="/edit_event/{{event.id}}"
                      class="btn btn-success"
                      >Edit</a
                    >
                    <a
                      href="/delete_event/{{event.id}}"
                      class="btn btn-danger" onclick="return confirmDeleteEvent();"
                      >Delete</a
                    >
                    <a
                      href="{% url 'send_event_email' event.id %}"
                      class="btn btn-info"
                    >
                      Send Email
                    </a>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <form role="form" action="/save_add_participation" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="card-body">
                          <input type="hidden" id="event_id" name="event_id" value="{{ event.id }}">
                        
                        <div class="form-group">
                          <label for="participator">Trainer / Customer</label>
                          {{ form.participator }}
                        </div>
                        
                          <input type="hidden" id="amount" name="amount" class="form-control" value="{{ event.amount }}" readonly> 
                        
                      </div>
                  
                      <div class="card-footer">
                          <button type="submit" class="btn btn-primary btn-block">Add Participator</button>
                      </div>
                  </form>
                  </td>
                  <td colspan="1" class="h1 translate-middle" style="vertical-align: middle;">→</td>


                  <td colspan="2">
                    <div class="card-body">
                        <div class="form-group">
                          <label for="participator">Participators </label>
                          {% for eventparticipation in eventparticipation %}
                          {% if eventparticipation.event_id.event_name == event.event_name %}
                          <ul  style="margin: 5px 3px; padding: 0;">
                          {{ eventparticipation.participator }}
                          </ul>
                          {% endif %}
                          {% endfor %}
                        </div>
                  </div>
              
                  <div class="card-footer">
                    <a
                    href="/manage_participation/{{event.id}}"
                    class="btn btn-danger btn-block"
                    >Delete Participators</a
                  >
                  </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="form-group">
              {% if messages %}
                {% for message in messages %}
                  {% if message.tags == 'error' %}
                    <div class="alert alert-danger" style="margin-top: 10px;">{{ message }}</div>
                  {% elif message.tags == 'success' %}
                    <div class="alert alert-success" style="margin-top: 10px;">{{ message }}</div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
<script src="{% static 'dist/js/manage_student_template.js' %}?v={{ time }}"></script>
<script src="{% static 'dist/js/manage_event_template.js' %}?v={{ time }}"></script>
{% endblock main_content %}
