    {% extends 'student_template/base_template.html' %}
    {% block page_title %}
    Home
    {% endblock page_title %}
    {% block main_content %}
    {% load static %}
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <h1>Welcome {{user.first_name}},</h1>
        {% if due %}
    {% for due in due %}
    <div class="due-row" data-end-date="{{ due.session_end_date }}">
      {% if due.session_end_date > current_date %}
        <p class="d-inline">You have paid <strong>Rs. {{ due.amount }}</strong> your gym fees on <strong>{{ due.session_start_date }}</strong> and your next payment date is <strong>{{ due.session_end_date }}</strong></p>
      {% else %}
      <p class="d-inline">You have paid <strong>Rs. {{ due.amount }}</strong> your gym fees on <strong>{{ due.session_start_date }}</strong> and your next payment date was <strong>{{ due.session_end_date }}</strong>. Please kindly pay gym fees on time</p>
      {% endif %}
      <p class="d-inline">(</p>
      <p class="days-left d-inline"></p>
      <p class="d-inline">)</p>
      <h4 class="row justify-content-center card-body">Leave Detail</h4>
    <form
            role="form"
            action="/save_add_customerleave"
            method="post"
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <div class="card-body">
              {{ form }}

              <label>Trainer</label>
              <input type="text" class="form-control" value="{{ due.trainer_id.admin.first_name }} {{due.trainer_id.admin.last_name}}" readonly="true"/>
              <input type="hidden" class="form-control" name="trainer" value="{{due.trainer_id.admin.username}}"/><br/><br/>

              <div class="form-group">
                {% if messages %}
                  {% for message in messages %}
                  {% if message.tags == 'error' %}
                  <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                  {% endif %}
                  {% if message.tags == 'success' %}
                  <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                  {% endif %}
                  {% endfor %}
                {% endif %}
                <!-- /.col -->
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary btn-block">
                Leave Submit
              </button>
            </div>
          </form>

    {% endfor %}
{% else %}
    <p>You have neither paid your gym fees nor selected trainer. Please contact with gym owner</p>
{% endif %}


{% if message %}
{% for message in message %}
{%if message.end_date >= current_date%}
<div id="messageModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ message.description }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{%endif%}
{%endfor%}
{% endif%}

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <script src="{% static 'dist/js/manage_gymfees_template.js' %}?v={{ time }}"></script>
    <script src="{% static 'dist/js/student_home_template.js' %}?v={{ time }}"></script>
    {% endblock main_content %}