{% extends 'student_template/base_template.html' %}
    {% block page_title %}
    Home
    {% endblock page_title %}
    {% block main_content %}
    {% load static %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
     <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Gym Member Details</h3>
            
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <div class="container">
              <div class="row justify-content-center">
                {% for customer in customer %}
                <!-- Center Profile Picture and Name -->
                <div class="col-12 text-center mb-4">
                  <img src="{{customer.profile_pic}}" class="rounded-circle" style="width:150px; border: 2px solid #ddd;" />
                  <h3 class="mt-3">{{ customer.admin.first_name }} {{ customer.admin.last_name }}</h3>
                </div>
                
                <!-- Other Details Below the Profile Picture -->
                <div class="col-md-6">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <i class="fas fa-envelope"></i>&nbsp;{{ customer.admin.email }}
                    </li>
                    <li class="list-group-item">
                      <i class="fas fa-phone"></i>&nbsp; {{ customer.phoneno }}
                    </li>
                    <li class="list-group-item">
                      <i class="fas fa-map-marker-alt"></i>&nbsp; {{ customer.address }}
                    </li>
                    <li class="list-group-item">
                      <i class="fas fa-venus-mars"></i>&nbsp; {{ customer.gender }}
                    </li>
                    <li class="list-group-item">
                      <i class="fas fa-ruler-vertical"></i>&nbsp; Height: {{ customer.height }} cm
                    </li>
                    <li class="list-group-item">
                      <i class="fas fa-weight"></i>&nbsp; Weight: {{ customer.weight }} kg
                    </li>
                    <li class="list-group-item">
                      <i class="fas fa-calendar"></i>&nbsp; Age: {{ customer.age }} years
                    </li>
                    <li class="list-group-item">
                      <i class="fas fa-dumbbell"></i>&nbsp; Bicep Size: {{ customer.bicepsize }} cm
                    </li>
                    <li class="list-group-item">
                      <i class="fas fa-tshirt"></i>&nbsp; Chest Size: {{ customer.chestsize }} cm
                    </li>
                    <li class="list-group-item">
                      <i class="fas fa-shoe-prints"></i>&nbsp; Leg Size: {{ customer.legsize }} cm
                    </li>
                  </ul>
                </div>
                <div class="col-12">
                  <hr />
                </div>
                {% endfor %}
              </div>
              <p class="row justify-content-center">If there is any mistake please contact with admin (Gym Owner)</p>
            </div>
            
            
          </div>
          <!-- /.card-body -->
          {% if messages %}
{% for message in messages %}
    <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %}">
        {{ message }}
    </div>
{% endfor %}
{% endif %}
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<script src="{% static 'dist/js/manage_student_template.js' %}?v={{ time }}"></script>
{% endblock main_content %}